body {
    background-color: lightcyan;
    height: 100vh;
}

button {
    width: 10em;
}

a {
    background-color: #f6f6f6;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.course-no {
    flex: 1;
    text-align: center;
    border: 1px solid;
    margin-right: -1px;
    margin-bottom: -1px;
}

.course-name {
    flex: 4;
    text-align: center;
    border: 1px solid;
    margin-right: -1px;
    margin-bottom: -1px;
}

.note-count {
    text-align: center;
    flex: 1;
    border: 1px solid;
    margin-bottom: -1px;
}

#header {
    font-weight: bold;
}

#button-container {
    flex-direction: row;
    justify-content: space-around;
}

#input {
    width: 85%;
    padding: 12px 20px 12px 40px;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}